---
import { getRuleOptionsDocumentation } from "@/data/rule-options";
import type { RuleName } from "@/data/rule-options";
import { Code } from "@astrojs/starlight/components";

interface Props {
	readonly rule: RuleName;
}

const { rule } = Astro.props;
const documentation = getRuleOptionsDocumentation(rule);
const tableLabels = {
	defaultValue: "Default",
	description: "Description",
	no: "No",
	option: "Option",
	required: "Required",
	type: "Type",
	unknown: "-",
	yes: "Yes",
};
---

<p>{documentation.schemaSummary}</p>

{documentation.options.length > 0 && (
	<div class="rule-options-table not-content">
		<table class="rule-options-table__table">
			<colgroup>
				<col class="rule-options-table__option-column" />
				<col class="rule-options-table__type-column" />
				<col class="rule-options-table__required-column" />
				<col class="rule-options-table__default-column" />
				<col class="rule-options-table__description-column" />
			</colgroup>
			<thead>
				<tr>
					<th class="rule-options-table__cell rule-options-table__heading" scope="col">{tableLabels.option}</th>
					<th class="rule-options-table__cell rule-options-table__heading" scope="col">{tableLabels.type}</th>
					<th class="rule-options-table__cell rule-options-table__heading" scope="col">{tableLabels.required}</th>
					<th class="rule-options-table__cell rule-options-table__heading" scope="col">{tableLabels.defaultValue}</th>
					<th class="rule-options-table__cell rule-options-table__heading" scope="col">{tableLabels.description}</th>
				</tr>
			</thead>
			<tbody>
				{
					documentation.options.map((option) => (
						<tr>
							<td class="rule-options-table__cell">
								<code class="rule-options-table__code">{option.name}</code>
							</td>
							<td class="rule-options-table__cell rule-options-table__type">
								<code class="rule-options-table__code">{option.type}</code>
							</td>
							<td class="rule-options-table__cell">{option.required ? tableLabels.yes : tableLabels.no}</td>
							<td class="rule-options-table__cell">
								<code class="rule-options-table__code">{option.defaultValue}</code>
							</td>
							<td class="rule-options-table__cell">{option.description ?? tableLabels.unknown}</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</div>
)}

<div class="rule-options-config">
	<Code code={documentation.config} lang="json" meta='frame="none"' />
</div>
